/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex; /* Nuevo estilo para el encabezado */
  align-items: center; /* Nuevo estilo para el encabezado */
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section#profile-section {
  padding: 20px;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 20px;
}

/* Estilos específicos del perfil */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Nuevo estilo para el h1 */
h1 {
  margin-right: auto;
}
