/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #000000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos de encabezado */
  header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos de sección hero */
  #hero-section {
    background-image: url("hero-background.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 36px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #ff5e14;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  /* Estilos de sección de características */
  #features-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f8f8f8;
  }
  
  .feature {
    max-width: 300px;
    text-align: center;
    padding: 20px;
  }
  
  .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  /* Estilos de pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  #hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    background-image: url('imagenes/gym.jpg');
    background-size: cover;
    background-position: center;
    color: #f8e8e8;
  }

  .carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
}

  